<canvas #canvas [width]="width" [height]="height"></canvas>

<button *ngIf="!windingAnimationCancel" (click)="startWindingAnimation()">Start winding animation</button>
<button *ngIf="windingAnimationCancel" (click)="stopWindingAnimation()">Stop winding animation</button>
<pre>Total Length: {{totalLength|number:'1.2-2'}}m</pre>
<canvas #srcImageCanvas [width]="width" [height]="height"></canvas>

<label for="pinCount">Pin Count</label>
<input id="pinCount" type="range" min="6" max="200" value="50" #pinCount (change)="setPinCount(pinCount.value)">

<label for="pinCount">Pin Diameter</label>
<input id="pinDiameter" type="range" min="2" max="40" value="20" #pinDiameter (change)="setPinDiameter(pinDiameter.value)">

<button *ngIf="!randomAnimationCancel" (click)="startRandomAnimation()">Start random animation</button>
<button *ngIf="randomAnimationCancel" (click)="stopRandomAnimation()">Stop random animation</button>



<img #srcImage src="/assets/einstein.jpg" alt="">
<!--<img #srcImage src="/assets/square.png" alt="">-->
<!--<img #srcImage src="/assets/holed_square.png" alt="">-->
<!--<img #srcImage src="/assets/circle.png" alt="">-->
<!--<img #srcImage src="/assets/circle_inverse.png" alt="">-->
<!--<img #srcImage src="/assets/empty.png" alt="">-->
<!--<img #srcImage src="/assets/full.png" alt="">-->
